a:hover {
  cursor: pointer;
  color: var(--primary-hover-color);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

/* Form Container */
.login-container {
  position: relative;
  width: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  gap: 16px;
}

.login-title {
  font-family: Stalinist One;
  font-size: 36px;
  background: linear-gradient(180deg, #023568 0%, #2B86E0 55.5%, #006AD5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-subtitle {
  font-size: 32px;
  font-weight: 800;
  margin: 11px auto 35px;
}

.login-form {
  display: grid;
  gap: 12px;
  margin-top: 12px;
}

.login-message {
  font-size: 24px;
  font-weight: 600;
}

.login-submessage {
  color: #78716c;
  font-size: 14px;
  margin-top: -6px;
}

.free-trial-link {
  color: #0c4db6;
  font-weight: 500;
  cursor: pointer;
  padding-left:5px;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Form Fields */
.input-field {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  right: 12px; /* Adjust as needed */
}

.label {
  color: #0A66C2;
  font-size: 14px;
  font-weight: 600;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Buttons and Links */
.login-btn {
  width: 100%;
  padding: 12px;
  margin: 12px 0px;
  background: #0c4db6;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: auto;
  transition-duration: 0.2s;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.login-btn:hover {
  scale: 1.02;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: var(--primary-color);
  text-decoration: none;
}

.divider {
  margin: 20px 0;
  display: flex;
  align-items: center;
  text-align: center;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.divider span {
  padding: 0 10px;
  color: #666;
  font-size: 14px;
}

.label-link {
  font-size: 14px;
  color: var(--primary-color);
  text-decoration: none;
}

.error-message {
  font-size: 12px;
  background-color: #fee;
  color: #f33;
  padding: 8px 15px;
  border-radius: 8px;
  text-align: left;
}

.icon-container {
  display: flex;
  gap: 31px;
  height: 31px;
  margin-top: 21px;
  justify-content: center;
}

.icon-container img{
  height: 100%;
  cursor: pointer;
}

.top-corner {
  position: absolute;
  top: 0px;
  right: 0px;
}

.bottom-corner {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom-left-radius: 12px;
}

.talent-tap-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 1.5rem;
  color: #0c4db6;
  justify-content: center;
}