.candidate-modal-container {
  border-radius: 12px;
  border: 1px solid #E9E9E9;
  background: #FFFFFF;
  font-family: Inter;
  color: #002041;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 90%;
}

.candidate-modal-row1 {
  padding: 20px 28px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.candidate-modal-row2 {
  padding: 16px 28px;
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  height: calc(100% - 176px);
}

.candidate-modal-row2::-webkit-scrollbar {
  /* width: 6px; */
  width: 0px;
}

.candidate-modal-row2::-webkit-scrollbar-track {
  background: #F1F1F1;
  margin-right: 16px;
}

.candidate-modal-row2::-webkit-scrollbar-thumb {
  background: #C3C3C3; 
  border-radius: 5px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
  border-radius: 12px;
  border: 1px solid #EEE;
  background: #FFF;
  font-weight: 500;
}

.section-title {
  color: #0A66C2;
  font-size: 18px;
  font-weight: 600;
}

.section-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section-label {
  font-size: 16px;
  font-weight: 600;
}

.score-row {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.send-button,
.view-button {
  width: 100%;
}

.linkedin-link {
  color: #0A66C2;
  font-weight: 500;
  text-decoration: underline;
}

.metric-section {
  display: flex;
  gap: 16px;
  font-size: 15px;
  font-weight: 500;
}

.light-label {
  font-size: 14px;
  color: #78716c;
}

.sub-label {
  font-size: 13px;
  font-weight: 500;
  color: #78716c;
}

.score-label {
  display: flex;
  gap: 8px;
}

.insight-card-container {
  display: flex;
  gap: 16px;
}

.score-sublabel {
  font-size: 10px;
  color: #78716c;
  display: flex;
  justify-content: space-between;
}