.match-candidates-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  font-family: Inter;
  color: #002041;
}

.match-button {
  background-color: #0A66C2;
  color: white;
  width: fit-content;
  display: flex;
  align-items: center;
}

.match-result {
  color: #929292;
  font-size: 20px;
  font-weight: 600;
}