.candidate-card-container {
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: Inter;
  border-radius: 12px;
  border: 1px solid #E9E9E9;
  background: #FFFFFF;
  width: 390px;
}

.candidate-card-row1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.candidate-ranking {
  display: flex;
  gap: 10px;
}

.candidate-rank {
  color: #0A66C2;
  font-size: 20px;
  font-weight: 500;
}

.candidate-name {
  font-size: 20px;
  font-weight: 600;
  color: #252525;
}

.candidate-score {
  color: #0A66C2;
  font-size: 12px;
  font-weight: 400;
}

.candidate-card-row2 {
  display: flex;
  gap: 8px;
}

.candidate-location {
  padding: 4px 12px;
  border-radius: 20px;
  background: rgba(194, 71, 10, 0.07);
  color: #787878;
  font-size: 14px;
  font-weight: 500;
}

.candidate-years {
  padding: 4px 12px;
  border-radius: 20px;
  background: rgba(52, 168, 13, 0.07);
  color: #787878;
  font-size: 14px;
  font-weight: 500;
}

.candidate-card-row3 {
  color: #929292;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.candidate-card-row4 {
  display: flex;
  margin-top: auto;
  gap: 8px;
}

.send-button,
.view-button {
  font-size: 14px;
  font-weight: 600;
  height: 40px;
}

.view-button {
  background-color: #0A66C2;
  color: white;
}

.send-button {
  color: #0A66C2;
  background: none;
  border: 1px solid #0A66C2;
}