.nav-menu-container {
  min-width: 290px;
  height: 100%;
  background: #FFFFFF;
  font-family: Inter;
}

.air-section {
  display: flex;
  gap: 16px;
  padding: 20px 24px;
}

.nav-container {
  display: grid;
  gap: 12px;
  padding-top: 24px;
  
}

.menu-container {
  display: flex;
  gap: 12px;
  padding: 12px 0px 12px 12px;
  margin: 0px 24px;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: #454B5B;
  position: relative;
}

/* .menu-container:nth-child(1) {
  color: 0A66C2;
  border-radius: 9px;
  background: #ECF4FC;
} */

.active {
  color: #0A66C2;

  .menu-icon {
    filter: brightness(0) saturate(100%) invert(26%) sepia(94%) saturate(1427%) hue-rotate(193deg) brightness(94%) contrast(98%);
  }
}

.menu-container:hover {
  color: #0A66C2;

  .menu-icon {
    filter: brightness(0) saturate(100%) invert(26%) sepia(94%) saturate(1427%) hue-rotate(193deg) brightness(94%) contrast(98%);
  }
}

.active-indicator {
  width: 4px;
  height: 36px;
  border-radius: 12px;
  background: #0A66C2;
  position: absolute;
  right: -24px;
}

.message-count {
  color: #FFFFFF;
  min-width: 20px;
  height: 16px;
  padding: 4px 10px 4px 8px;
  border-radius: 20px;
  background: #0A66C2;
  font-size: 14px;
  margin-left: auto;
  text-align: center;
}

.menu-container.disabled {
  cursor: not-allowed;
  opacity: 0.5; /* Make it visually clear that the menu is disabled */
  pointer-events: none; /* Prevent clicks */
}