.candidates-container {
  display: grid;
  gap: 24px;
  color: #002041;
  font-family: Inter;
}

.candidates {
  width: -webkit-fill-available;
  min-height: 147px;
  max-height: 440px;
  overflow-y: auto;
}

.candidates::-webkit-scrollbar {
  width: 0px;
}

.candidates-row {
  border-radius: 12px;
  border: 1px solid #EEE;
  padding: 8px 16px;
}

.candidates-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 12px;
  text-align: left;
  font-size: 14px;
  position: relative;
  margin: -12px 0px;
}

.candidates-table th {
  background: #ECF4FC;
  height: 24px;
  padding: 8px 16px;
  font-weight: 600;
}

.candidates-table th:first-child {
  border-radius: 8px 0px 0px 8px;
}

.candidates-table th:last-child {
  border-radius: 0px 8px 8px 0px;
}

.candidates-table tbody tr td:first-child {
  border-left: 1px solid #EEE;
  border-top-left-radius: 12px; /* Round the top-left corner */
  border-bottom-left-radius: 12px; /* Round the bottom-left corner */
}

.candidates-table tbody tr td:last-child {
  border-right: 1px solid #EEE;
  border-top-right-radius: 12px; /* Round the top-right corner */
  border-bottom-right-radius: 12px; /* Round the bottom-right corner */
}

.candidates-table td {
  padding: 20px 16px;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.candidates-table td:not(:nth-child(2)){
  white-space: nowrap;
}

.candidates-table tbody tr:hover {
  cursor: pointer;
  background-color: #F5FAFF;
}

.filter-button {
  width: 100px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  background: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #EEE;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.filter-button:hover {
  border: 1px solid #0a66c2;
}