.job-postings-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  font-family: Inter;
  color: #002041;
}

.add-job {
  width: 50%;
}

.row-title {
  font-size: 14px;
  font-weight: 500;
}

.job-info-input {
  height: 40px;
  width: 100%;
  padding: 9px 12px;
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid #EAEBF0;
}

.job-description {
  resize: none;
  border-radius: 12px;
  width: 100%;
  padding: 12px 16px;
  font-family: Inter;
  height: 100px;
  border: 1px solid #EAEBF0;
  font-size: 14px;
}

.add-job-button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  background: #0A66C2;
  color: #FFFFFF;
}

.jobs {
  width: -webkit-fill-available;
  min-height: 137px;
  max-height: 357px;
  overflow-y: auto;
}

.jobs::-webkit-scrollbar {
  width: 0px;
}

.edit-button,
.delete-button {
  width: 70px;
  font-size: 14px;
  font-weight: 600;
}

.edit-button {
  background-color: #0A66C2;
  color: white;
  margin-right: 12px;
}

.delete-button {
  color: #0A66C2;
  background: none;
  border: 1px solid #0A66C2;
}

.job-description::-webkit-scrollbar {
  width: 0px;
}

.required-field {
  border: 1px solid red; /* Add red border for required fields */
}