.messages-container {
  font-family: Inter;
}

.messages {
  width: -webkit-fill-available;
  min-height: 137px;
  margin-bottom: 24px;
}

.cv-link {
  color: #0A66C2;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}

.cv-link:hover {
  color: #004182;
}