:root {
  --primary-color: #0a66c2;
  --primary-hover-color: #004182;
}

.page-container {
  display: flex;
  justify-content: center;
  background: #F5F5F5;
  width: 100%;
  height: 100%;
}

.view-section {
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 25px 50px 35px 35px;
  width: 100%;
  overflow-y: auto;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
  padding: 8px 12px;
  height: 36px;
  border-radius: 6px;
}

button:disabled {
  background: #F1F1F1;
  color: #C3C3C3;
  cursor: not-allowed;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px 28px;
  gap: 16px;
  border-radius: 12px;
  background: #FFFFFF;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
}

.card-row {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.input-row {
  display: flex;
  gap: 20px;
}

input {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  width: -webkit-fill-available;
  padding: 12px 15px;
  border: 1px solid #EEE;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: var(--primary-color);
}

#tags {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
  font-family: Inter !important;
  margin: 4px;
  border-radius: 6px;
  background: #ECF4FC;
  width: fit-content;
}

#score-bar {
  border-radius: 128px;
  background: #EEE;
  width: 100%;
  height: 8px;
} & .MuiLinearProgress-bar {
  border-radius: 128px
}

img {
  cursor: pointer;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 14px;
  position: relative;
}

.data-table th {
  background: #ECF4FC;
  height: 24px;
  padding: 8px 16px;
  font-weight: 600;
}

.data-table th:first-child {
  border-radius: 8px 0px 0px 8px;
}

.data-table th:last-child {
  border-radius: 0px 8px 8px 0px;
}

.data-table td {
  padding: 8px 16px;
  border-bottom: 1px solid #EEE;
  font-weight: 500;
}

/* .data-table td:last-child {
  width: 252px;
} */

.data-table td:not(:nth-child(2)){
  white-space: nowrap;
}

.data-table tbody tr:hover {
  cursor: pointer;
  background-color: #F5FAFF;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 28px;
  border-radius: 12px;
  border: 1px solid #E9E9E9;
  background: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  font-family: Inter !important;
  color: #002041;
}

.modal-button-container {
  display: flex;
  gap: 12px;
}

.button-container {
  display: flex;
  gap: 16px;
}

.primary-button,
.secondary-button {
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  width: 100%;
}

.primary-button {
  background-color: var(--primary-color);
  color: white;
}

.secondary-button {
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--primary-color);
}

.status-badge {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
}

.status-container {
  display: flex;
  align-items: center;
}

.status-badge.selected,
.status-badge.active {
  background-color: #2AD324;
}

.status-badge.interviewed {
  background-color: #FFB20D;
}

.status-badge.salary-draft {
  background-color: #9461E6;
}

.status-badge.rejected,
.status-badge.not-active,
.status-badge.waiting-for-approval {
  background-color: #F91E24;
}

.no-data {
  position: absolute;
  width: -webkit-fill-available;
  padding: 8px !important;
  border: 1px solid #EEE;
  border-radius: 12px;
  text-align: center;
}

#select-input {
  border-radius: 6px;
  padding: 9px 12px;
  border: 1px solid #EEE;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  font-weight: 400;
  font-family: Inter;
  height: 20px;
  /* min-width: 200px; */
} & .MuiInputBase-root {
  padding-left: 0px !important;
  font-family: Inter !important;
  font-size: 14px !important;
  align-items: flex-start !important;
  max-width: 100% !important;
} & .MuiOutlinedInput-notchedOutline {
  border: none !important;
}

#select-input:hover {
  border: 1px solid var(--primary-color);
}

#options {
  font-size: 14px;
  font-weight: 400;
  font-family: Inter;
  padding: 10px 16px;
} & .MuiPopover-paper {
  border-radius: 6px;
  border: 1px solid #EAEBF0;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
} & .MuiMenu-list {
  padding: 4px 0px !important;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 12px; /* Adjust as needed */
}

.search {
  height: 40px;
  border-radius: 0px 6px 6px 0px;
  width: 80px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}

.search-container{
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.search-input {
  height: 40px;
  width: 240px;
  border-radius: 6px 0px 0px 6px;
  padding-left: 36px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  gap: 16px;
}

.progress-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}